body{
    color: white;
    background-image:url("../upload/media/bg-topic.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
.display{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 10vh;
}
table{
    margin-top: 25px;
    width: 80%;
    border: 1px solid grey;
    border-radius: 10px;
    border-collapse: collapse;
}
tr,td,th {
    border-top:  1px solid grey;
    vertical-align: top;
}
h1 {
    text-align: center;
    margin-left: 38%;
    width: 60%;
}
.user {
    padding-left: 22.5px;
    text-align: left;
    border-bottom: 1px solid grey;
}
.date{
    padding-right: 30px;
    text-align:right;
    border-bottom: 1px solid grey;
}
.pict{
    padding: 20px;
    width: 100px;
}
.post {
    padding-left: 40px;
    padding-bottom: 40px;
    padding-right: 40px;
    padding-top: 10px;
    text-align: justify;
    text-justify: inter-word;
}
::placeholder {
    color: #cccccc;
}
textarea{
    color: white;
    width: 80%;
    height: 20%;
    padding: 12px 20px;
    background-color: #696969;
    border-radius: 4px;
}
.add {
    margin-top: 5%;
    padding-left: 12.5%;
    text-align: left;
}
input[type=file]{
    background-color: #696969;
    border-radius: 10px;
    border: none;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
input[type=submit]{
    background-color: #696969;
    border-radius: 10px;
    border: none;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
a {
    color: white;
    text-decoration: none;
}
#back {
    margin-top: 0;
    margin-left: 39%;
    background-color: #565b92;
    padding: 10px;
}
#id {
    display: none;
}