body{
    color: white;
    background-image:url("../upload/media/bg-topic.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
main {
    min-height: 80vh;
    width: 85%;
    margin: auto;
    padding: 20px 0;
}
table {
    border-collapse: collapse;
}
td,th{
    border-bottom:1px inset grey;
    height:50px;
	width: 50px;
}
::placeholder {
    color: #cccccc;
}
button{
    background-color: #696969;
    border-radius: 10px;
    border: none;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
.search {
    background-color: #696969;
    border-radius: 10px;
    border: none;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    margin: 4px 2px;
}
table a {
    margin-top: 10px;
    text-decoration: none;
}
a{
    font-weight: bold;
    color: white;
    text-decoration: none;
}
#thread {
    padding-right: 15px;
}
#post {
    text-align: justify;
    text-justify: inter-word;
    padding-right: 25px;
    width: 30%;
}
#img {
    padding: 15px 0;
}
#date {
    width: 10%
}